extends layout

block content
  input(type="hidden", id="guests-json", value= JSON.stringify(guests) )
  h1= title
  p Add or update a lead
  form(type='submit', method='post', action='/leads/post')
    select(name='lead')
      option(value='') New lead
      -var index = 0
      each lead in leads
        option(value=leadt[0], data-id="#{index++}") #{lead[2]}, #{lead[1]} - #{lead[3]}
    br
    label(for='firstName')
      | Name
    br
    input(name='firstName', placeholder='First Name')
    | &nbsp;
    
    input(name='lastName', placeholder='Last Name')
    br
    label(for='phone')
      | Phone
    br
    input(name='phone')
    br
    label(for='email')
      | Email
    br
    input(name='email')
    br
    label(for='contactMethod')
      | Preferred method of contact
    br
    input(name='contactMethod')
    br
    label(for='currentVehicle')
      | Current Vehicle
    br
    input(name='currentVehicle')
    br
    label(for='currentCustomer')
      | Current Customer?
    input(name='currentCustomer', type='checkbox', value='YES')
    br
    label(for='interestedVehicle')
      | What car are you interested in?
    br
    input(name='interestedVehicle')
    br
    label(for='purchaseTimeline')
      | Timeline / when are you looking to purchase
    br
    input(name='purchaseTimeline')
    br
    label(for='salesperson')
      | Salesperson
    br
    input(name='Salesperson')
    br

    label(for='notes')
      | Notes
    br
    textarea(name='notes')
    br
    input(type='Submit')
  script.
    $(document).ready(function(){
      var guestData = JSON.parse($('#guests-json').val());
      console.log('select', $('select[name=guestList]'));
      $('select[name=guestList]').change(function(val){
        var row = parseInt($('select[name=guestList] option:selected').val()) + 9;
        var c = guestData.filter(function(g){
        console.log('g[0] - row', g[0] + ' - ' + row);
          return parseInt(g[0])+9 == row;
        });
        console.log('row:', c);
        var owner = (c[0][15])?true:false;
        var area27 = (c[0][16])?true:false;
        $('input[name=guest]').val(c[0][12]);
        $('input[name=guestEmail]').val(c[0][13]);
        $('input[name=guestPhone]').val(c[0][14]);
        $('input[name=owner]').prop("checked", owner);
        $('input[name=area27]').prop("checked", area27);
        $('textarea[name=notes]').val(c[0][10]);
      });
    });

